ul{
    list-style-type: none;
}
.me-2{
    height: 50px;
}
/*.navbar-expand-lg {
    background-color: peru;
}*/

.btn-primary{
    padding: 10px 20px;
    background-color: peru;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }